{% extends "account/base.html" %}
{% load crispy_forms_tags %}

{% load i18n %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-4">
    <div class="col-md-5 col-sm-12">
        <div class="text-center">
            <h1>{% trans "Change Password" %}</h1>
            <div class="alert alert-success" role="alert">
              {% trans 'Your password is now changed.' %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
