.remove-default-btn{
    box-shadow:none;
    border:none;
    background-color:transparent;
}

.post-img{
    float:left;
    margin-right: 0.5rem;
}

.child-comment{
    margin-left: 2rem;
}

.a-disabled{
    pointer-events: none;
    cursor: default;
}