{% load custom_tags %}
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">

    <a class="navbar-brand"
       {% if user.is_authenticated %}
       href="{% url 'post-list' %}"
       {% else %}
       href="{% url 'index' %}"
       {% endif %}
    ><i class="fa fa-g"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'post-list' %}">
          <i class="fa fa-home"></i>
            <small>Home</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'notification-lists' request.user.profile.pk %}">
          <i class="fa fa-circle-exclamation"></i>
            <small>Notifications</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'inbox' %}">
          <i class="fa fa-comments"></i>
            <small>Message</small>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'explore' %}">
          <i class="fa fa-tags"></i>
           <small>Tags</small>
          </a>
        </li>
        {% endif %}
        <form class="d-flex" role="search" method="GET" action="{% url 'profile-search' %}">
        <div class="input-group">
          <input class="form-control" type="search" placeholder="Search User" aria-label="Search" name="query" value="{{ request.GET.query }}">
            <button class="btn btn-outline-success" type="submit">
              <i class="fa fa-magnifying-glass"></i>
            </button>
        </div>
      </form>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="{{ request.user.profile.picture.url }}" width="20px" height="20px" class="rounded-circle">
              {{ request.user.profile.name }}
            </a>
            <ul class="dropdown-menu dropdown-menu-end">
              <li><a class="dropdown-item" href="{% url 'profile' request.user.profile.pk %}">Account</a></li>
              <li><a class="dropdown-item" href="{% url 'notification-lists' request.user.profile.pk %}">Notifications</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{% url 'account_logout' %}">Log Out</a></li>
            </ul>
          </li>
          <li>
            <div class="nav-item inbox-icon-container mt-2">
              <a href="{% url 'inbox' %}" class="inbox-icon">
                <i class="fa fa-comments"></i>
              </a>
            </div>
          </li>
          <li class="nav-item">
            {% show_notifications %}
          </li>
          {% endif %}
      </ul>
    </div>
  </div>
</nav>