{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            <a href="{% url 'profile' request.user.id %}" class="btn btn-sm btn-light">Back to profile</a>
        </div>
    </div>
    {% for notification in notifications %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            {% if notification.post %}
                {% if notification.notification_type == 1 %}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'post-notification' notification.pk notification.post.pk %}"
                       class="text-decoration-none">
                        liked your post.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
                {% elif notification.notification_type == 2 %}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'post-notification' notification.pk notification.post.pk %}"
                       class="text-decoration-none">
                        commented your post.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
                {% endif %}
            {% elif notification.comment %}
                {% if notification.notification_type == 1%}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}"
                       class="text-decoration-none">
                        liked your comment.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
                {% elif notification.notification_type == 2 %}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'post-notification' notification.pk notification.comment.post.pk %}"
                       class="text-decoration-none">
                        replied your comment.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
                {% endif %}
            {% elif notification.thread %}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'thread-notification' notification.pk notification.thread.pk %}"
                       class="text-decoration-none">
                        sent you a message.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
            {% else %}
                <p>
                    <a href="{% url 'profile' notification.from_user.profile.pk %}">
                        <img src="{{ notification.from_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    {{ notification.from_user.profile.name }}
                    <a href="{% url 'post-notification' notification.pk notification.from_user.profile.pk %}"
                       class="text-decoration-none">
                        has started following you.
                    </a>
                    on {{ notification.date|date:"F d, Y" }}
                </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12">
            {% if is_paginated %}
                {% if page_obj.has_previous %}
                    <a href="?page=1" class="btn btn-outline-success">First</a>
                    <a href="?page={{ page_obj.previous_page_number }}" class="btn btn-outline-success">Previous</a>
                {% endif %}

                {% for num in page_obj.paginator.page_range %}
                    {% if page_obj.number == num %}
                        <a href="?page={{ num }}" class="btn btn-success">{{ num }}</a>
                    {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                        <a href="?page={{ num }}" class="btn btn-outline-success">{{ num }}</a>
                    {% endif %}
                {% endfor %}

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}" class="btn btn-outline-success">Next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}" class="btn btn-outline-success">Last</a>
                {% endif %}
            {% endif %}
        </div>
    </div>

</div>

{% endblock content %}