{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    <div class="row mt-3">
        <div class="col-md-5 col-sm-6">
            <a href="{% url 'post-list' %}" class="text-decoration-none">Back to Feed</a>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center mt-3">
        <div class="position-fixed text-center">
            <div class="alert alert-secondary">
                You are not login
                <a href="{% url 'account_login' %}" class="btn btn-lg btn-success">Login</a>
                or
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-light">Sign Up</a>
            </div>
        </div>
    </div>
    <br><br>
    {% endif %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="text-end">
                {% if request.user == post.author %}
                <a class="text-decoration-none text-dark mx-1" href="{% url 'post-edit' post.pk %}">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="text-decoration-none text-dark" href="{% url 'post-delete' post.pk %}" >
                    <i class="fa fa-trash"></i>
                </a>
                {% endif %}
            </div>
            <div class="">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img src="{{ post.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>{{ post.author }}</strong> {{ post.created_on|date:"M d, Y" }}</p>
            </div>
            <p>{{ post.body}}</p>
            <div class="d-flex flex-row">
                <form action="{% url 'add-like' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button type="submit" class="btn btn-sm"
                            style="border:none; box-shadow:none; background-color:transparent">
                        <i class="fa fa-thumbs-up">
                            <span class="small">{{ post.likes.all.count }}</span>
                        </i>
                    </button>
                </form>
            </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 mb-4">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
    {% for comment in comments %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                <a href="{% url 'profile' comment.author.profile.pk %}">
                    <img src="{{ comment.author.profile.picture.url }}" width="25px" height="25px" class="rounded-circle post-img">
                </a>
                <p><strong>{{ comment.author }}</strong> {{ comment.created_on|date:"M d, Y" }}</p>
            </div>
            <p>{{ comment.comment }}</p>
            {% if request.user == post.author or request.user == comment.author %}
                <div class="small mb-1">
                    <a class="text-decoration-none text-dark mx-1" href="">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="text-decoration-none text-dark" href="{% url 'comment-delete' post.pk comment.pk %}" >
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}