{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    {% else %}
    <div class="row justify-content-center mt-3">
        <div class="position-fixed text-center">
            <div class="alert alert-secondary">
                You are not login
                <a href="{% url 'account_login' %}" class="btn btn-lg btn-success">Login</a>
                or
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-light">Sign Up</a>
            </div>
        </div>
    </div>
    <br><br>
    {% endif %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="text-end">
                {% if request.user == post.author %}
                <a class="text-decoration-none text-dark mx-1" href="{% url 'post-edit' post.pk %}">
                    <i class="fa fa-edit"></i>
                </a>
                <a class="text-decoration-none text-dark" href="{% url 'post-delete' post.pk %}" >
                    <i class="fa fa-trash"></i>
                </a>
                {% endif %}
            </div>
            <div class="">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img src="{{ post.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>{{ post.author }}</strong> <small class="text-secondary">{{ post.created_on|date:"M d, Y" }}</small></p>
            </div>
            <p>{{ post.body}}</p>
            <div class="d-flex flex-row">
                <form action="{% url 'add-like' post.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button type="submit" class="btn btn-sm"
                            style="border:none; box-shadow:none; background-color:transparent">
                        <i class="fa fa-thumbs-up">
                            <span class="small">
                                {% if post.likes.all.count == 0 %}
                                {% else %}
                                    {{ post.likes.all.count }}
                                {% endif %}
                            </span>
                        </i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 mb-4">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                <a href="{% url 'profile' comment.author.profile.pk %}">
                    <img src="{{ comment.author.profile.picture.url }}" width="25px" height="25px" class="rounded-circle post-img">
                </a>
                <p><strong>{{ comment.author }}</strong>
                    <small class="text-secondary mx-1">
                        {{ comment.created_on|date:"M d, Y" }}
                    </small>
                </p>
            </div>
            <p>{{ comment.comment }}</p>
            <div class="d-flex flex-row mb-1">
                <form action="{% url 'comment-like' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button type="submit" class="btn btn-sm"
                            style="border:none; box-shadow:none; background-color:transparent">
                        <i class="fa fa-thumbs-up">
                            <span class="small">
                                {% if comment.likes.all.count == 0 %}
                                {% else %}
                                    {{ comment.likes.all.count }}
                                {% endif %}
                            </span>
                        </i>
                    </button>
                </form>
                <button class="btn btn-sm remove-default-btn mx-2" type="submit"
                        onclick="commentReplyToggle( '{{ comment.pk }}' )">
                    <i class="fa fa-reply"></i>
                </button>
            </div>
            {% if request.user == post.author or request.user == comment.author %}
                <div class="small mb-1">
                    <a class="text-decoration-none text-dark mx-1" href="">
                        <i class="fa fa-edit"></i>
                    </a>
                    <a class="text-decoration-none text-dark" href="{% url 'comment-delete' post.pk comment.pk %}" >
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
            {% endif %}
        </div>
        <div class="row justify-content-center mt-3 d-none" id="{{ comment.pk }}">
            <div class="col-md-5 col-sm-12 mb-4">
                <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-5 child-comment">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                <a href="{% url 'profile' child_comment.author.profile.pk %}">
                    <img src="{{ child_comment.author.profile.picture.url }}" width="25px" height="25px" class="rounded-circle post-img">
                </a>
                <p><strong>{{ child_comment.author }}</strong>
                    <small class="text-secondary mx-1">
                        {{ child_comment.created_on|date:"M d, Y" }}
                    </small>
                </p>
            </div>
            <p>{{ child_comment.comment }}</p>

        </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endfor %}
</div>
{% endblock content %}