{% extends "layout.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container">
    {% if user.is_authenticated %}
    {% else %}
    <div class="row justify-content-center mt-3">
        <div class="position-fixed text-center">
            <div class="alert alert-secondary">
                You are not login
                <a href="{% url 'account_login' %}" class="btn btn-lg btn-success">Login</a>
                or
                <a href="{% url 'account_signup' %}" class="btn btn-lg btn-light">Sign Up</a>
            </div>
        </div>
    </div>
    <br><br>
    {% endif %}

    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom position-relative">
            {% if request.user == post.author or request.user == post.shared_user %}
            <div class="float-end">
                <a href="{% url 'post-edit' post.pk %}"><i class="fa fa-edit"></i></a>
                <a href="{% url 'post-delete' post.pk %}"><i class="fa fa-trash"></i></a>
            </div>
            {% endif %}
            {% if post.shared_user %}
            <div class="">
                <a href="{% url 'profile' post.shared_user.profile.pk %}">
                    <img src="{{ post.shared_user.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>
                    {% if post.shared_user.is_superuser %}
                        {{ post.shared_user.profile.name }} <a href="" class="a-disabled"><i class="fa-solid fa-circle-check"></i></a>
                    {% else%}
                        {{ post.shared_user.profile.name }}
                    {% endif %}
                </strong>
                    <small class="mx-1 text-secondary">shared a post on {{ post.shared_on|date:"M d, Y" }}</small></p>
            </div>
            {% else %}
            <div class="">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img src="{{ post.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>
                    {% if post.author.is_superuser %}
                        {{ post.author.profile.name }} <a href="" class="a-disabled"><i class="fa-solid fa-circle-check"></i></a>
                    {% else%}
                        {{ post.author.profile.name }}
                    {% endif %}
                </strong>
                    <small class="mx-1 text-secondary">{{ post.created_on|date:"M d, Y" }}</small></p>
            </div>
            {% endif %}
            {% if post.shared_user %}
                <div class="position-relative border-bottom mb-3 body">
                    {% if post.shared_body %}
                    <p>{{ post.shared_body }}</p>
                    {% endif %}
                </div>
                <div class="shared-post" style="margin-left:30px">
                  <a href="{% url 'profile' post.author.profile.pk %}">
                        <img src="{{ post.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                    </a>
                    <p><strong>
                        {% if post.author.is_superuser %}
                            {{ post.author.profile.name }} <a href="" class="a-disabled"><i class="fa-solid fa-circle-check"></i></a>
                        {% else%}
                            {{ post.author.profile.name }}
                        {% endif %}
                    </strong>
                        <small class="mx-1 text-secondary">{{ post.created_on|date:"M d, Y" }}</small></p>

                    <div class="position-relative">
                        <div class="body">
                            <p>{{ post.body}}</p>
                        </div>
                         <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                        {% if post.image.count > 0 %}
                            <div class="row">
                                {% for img in post.image.all %}
                                    <div class="col-md-6 col xs-10">
                                        <img src="{{ img.image.url }}" class="post-image">
                                    </div>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% else %}

            <div class="position-relative">
                <div class="body">
                    <p>{{ post.body}}</p>
                </div>
                 <a href="{% url 'post-detail' post.pk %}" class="stretched-link"></a>
                {% if post.image.count > 0 %}
                    <div class="row">
                        {% for img in post.image.all %}
                            <div class="col-md-6 col xs-10">
                                <img src="{{ img.image.url }}" class="post-image">
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            {% endif %}
            <div class="d-flex flex-row">
                <form action="{% url 'add-like' post.pk %}" method="POST" class="mt-2">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button type="submit" class="btn btn-sm remove-default-btn">
                        <i class="fa fa-thumbs-up">
                            <span class="small">
                                {% if post.likes.all.count == 0 %}
                                {% else %}
                                    {{ post.likes.all.count }}
                                {% endif %}
                            </span>
                        </i>
                    </button>
                </form>
                 <form action="{% url 'post-detail' post.pk %}" method="POST" class="mt-2">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button class="btn btn-sm remove-default-btn px-3">
                            <i class="fa fa-comment">
                                <span class="small">
                                    {{ total_comments }}
                                </span>
                            </i>
                    </button>
                 </form>
            </div>
        </div>
    </div>
    {% if user.is_authenticated %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 mb-4">
            <form method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button class="btn btn-success">Submit</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}

    {% for comment in comments %}
    {% if comment.is_parent %}
    <div class="row justify-content-center mt-3">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                <a href="{% url 'profile' post.author.profile.pk %}">
                    <img src="{{ comment.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>
                    {% if comment.author.is_superuser == 1 %}
                        {{ comment.author.profile.name }} <a href="" class="a-disabled"><i class="fa-solid fa-circle-check"></i></a>
                    {% else%}
                        {{ comment.author.profile.name }}
                    {% endif %}
                </strong> <small class="text-secondary">{{ post.created_on|date:"M d, Y" }}</small></p>
            </div>
            <p>{{ comment.comment }}</p>
            <div class="d-flex flex-row mb-1">
                <form action="{% url 'comment-like' post.pk comment.pk %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" value="{{ request.path }}" name="next">
                    <button type="submit" class="btn btn-sm"
                            style="border:none; box-shadow:none; background-color:transparent">
                        <i class="fa fa-thumbs-up">
                            <span class="small">
                                {% if comment.likes.all.count == 0 %}
                                {% else %}
                                    {{ comment.likes.all.count }}
                                {% endif %}
                            </span>
                        </i>
                    </button>
                </form>
                <button class="btn btn-sm remove-default-btn mx-2" type="submit"
                        onclick="commentReplyToggle( '{{ comment.pk }}' )">
                    <i class="fa fa-reply"></i>
                </button>
                {% if request.user == post.author or request.user == comment.author %}
                    <div class="small mt-1 mx-2">
                        <a class="text-decoration-none text-dark" href="{% url 'comment-delete' post.pk comment.pk %}" >
                            <i class="fa fa-trash"></i>
                        </a>
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row justify-content-center mt-3 d-none" id="{{ comment.pk }}">
            <div class="col-md-5 col-sm-12 mb-4">
                <form method="POST" action="{% url 'comment-reply' post.pk comment.pk %}">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="d-grid gap-2">
                        <button class="btn btn-success">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {% for child_comment in comment.children %}
    <div class="row justify-content-center mt-3 mb-3 child-comment">
        <div class="col-md-5 col-sm-12 border-bottom">
            <div class="">
                <a href="{% url 'profile' child_comment.author.profile.pk %}">
                    <img src="{{ child_comment.author.profile.picture.url }}" width="30" height="30" class="rounded-circle post-img">
                </a>
                <p><strong>
                    {% if child_comment.author.is_superuser == 1 %}
                        {{ child_comment.author.profile.name }} <a href="" class="a-disabled"><i class="fa-solid fa-circle-check"></i></a>
                    {% else%}
                        {{ child_comment.author.profile.name }}
                    {% endif %}
                </strong> <small class="text-secondary">{{ post.created_on|date:"M d, Y" }}</small></p>
            </div>
            <p>{{ child_comment.comment }}</p>
            <a class="text-decoration-none text-dark" href="{% url 'comment-delete' post.pk child_comment.pk %}" >
                <i class="fa fa-trash"></i>
            </a>
        </div>
    </div>
    {% endfor %}

    {% endif %}
    {% endfor %}
</div>
{% endblock content %}